.App {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

table {
  border-collapse: collapse;
  width: 50%;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

button {
  color: white;
  border-radius: 20px;
  border: none;
  background-color: red;
  padding: 5px;
}